
body {
  font-family: 'Lora', sans-serif;
  background-color:#23252C;
  color:white;
  box-sizing: border-box;
  height: 80vh;  
}


img{
  height:317px;
  width:317px;
  border-radius:5px;
}


.Header-container,
.Main-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  width:317px;
  margin: 0 auto;
}

.Header-container{
  margin-top: 1em;
}

.Main-container{
  background-color: #1A1B21;
 
}

.Main-container  h1{
  margin-bottom: -9px;
}

.Main-container > h3{
  text-align: left;
}


a {
  width:247px;
  padding: 9px 13px 9px 11px;
  border-radius: 6px;
  text-decoration: none;
  background-color: #fff;
  text-align: center;
  color: #374151;
}

.Main-icon{
  font-size:1.1em;
}


p {
 max-width:90%;
}

span {
  font-size:1.3em;
}


footer,
.icons {
  font-size: 1.1em;
  margin: 2em 1em;
}